#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: left;
}

.person-box {
  border: 2px solid tomato;
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 10px;
}

.title {
  font: bolder;
  text-align: center;
  color: darkkhaki;
  font-size: 28px;
}